
body {
    width: 100vw;
    margin: 0;
    box-sizing: border-box;

}

section {
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}

.big-picture {
    width: 100%;
    margin: 0;
    display: block;
    padding: 10px;
}

.small-picture {
    width: 44%;
    margin: 0;
    padding: 0px 10px;
}

img {
    object-fit: contain;
    width: 100%;
    
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items:flex-start;
    
}

h1 {
    width: 50%;
}
.btn {
    background-color: aqua;
}

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

p {
    text-align: center;
    padding: 10px;

}

@media (min-width: 1000px){

}