
/* 
h1 {
    text-align: center;
    padding: 40px;
}

.form--container {
    display: flex;
    width: 100%;
    justify-content: center;

}

form {
   
    width: 600px;
}

form > div {
    display: flex;
    
    background-color: aquamarine;
}

.gender--eyecolor {
    
}

.form--div > input {
    margin-right:auto;
    min-width: 200px;
}

.form--div > label {
    min-width: 60px;
    text-align: right;
}




@media screen and (max-width 560px){
    body{
       background-color: lightblue;
       display: flex;
       flex-direction: column;
      
       width: 50%;
       height: auto;
    }
    .form--container{
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        
        width: 50%;
        height: auto;

    }
    .form--div{
        background-color: lightblue;
       display: flex;
       flex-direction: column;
       
       width: 50%;
       height: auto;
    }

    h1 {
        background-color: lightblue;
       display: flex;
       flex-direction: column;
      
       width: 50%;
       height: auto;
    }
    .gender--eyecolor {
        background-color: lightblue;
       display: flex;
       flex-direction: column;
       
       
       width: 50%;
       height: auto;
    }
    }  */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

@import url('https://fonts.cdnfonts.com/css/old-english-five');

body {
    line-height:1;
}

/* article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
} */

.logo-title {
    /* width: 340px; */
    /* height: 100px; */
    display: flex;
    
}

h1 {
  font-size: 50pt;
  font-family: 'Old English Five', sans-serif;
  margin-top: 10px;
  
}

header {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: center;
    
}

.logo {
    width: 100px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

nav {
  display: none;

}

.nav-style {
  display: contents;
}

.hamburger {
  height: 50px;
  width: 50px;
  background-image: url("images/hamburger-menu-svgrepo-com.svg");
  background-size: contain;
  margin: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  
}

.hamburger:hover {
  
  background-color: lightgray;
}

.x-style {
  background-image: url("images/x-svgrepo-com.svg");
}


.button-54 {
  min-width: 122px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}


.button-54:hover {
  color: white;
  background: black;
}














  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

    html{    background:url(https://images.unsplash.com/photo-1546717003-caee5f93a9db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=778&q=80) no-repeat;
    background-size: cover;
    width: 100%;
    background-position-y: 20px;
    background-color: lightblue;
    
  }
  
  #feedback-page{
      text-align:center;
  }
  
  #form-main{
      width:100%;
      float:left;
      padding-top:0px;
  }
  
  #form-div {
      background-color:rgba(72,72,72,0.4);
      padding-left:35px;
      padding-right:35px;
      padding-top:35px;
      padding-bottom:50px;
      width: 450px;
      float: left;
      left: 50%;
      position: relative;
      margin-top:30px;
      margin-left: -260px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
  }
  
  .feedback-input {
      color:#3c3c3c;
      font-family: Helvetica, Arial, sans-serif;
      font-weight:500;
      font-size: 18px;
      border-radius: 0;
      line-height: 22px;
      background-color: #fbfbfb;
      padding: 13px 13px 13px 54px;
      margin-bottom: 10px;
      width:100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      border: 3px solid rgba(0,0,0,0);
  }
  
  .feedback-input:focus{
      background: #fff;
      box-shadow: 0;
      border: 3px solid #3498db;
      color: #3498db;
      outline: none;
      padding: 13px 13px 13px 54px;
  }
  
  .focused{
      color:#30aed6;
      border:#30aed6 solid 3px;
  }
  
  /* Icons ---------------------------------- */
  #name{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
      opacity: 80%;
  }
  
  #name:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
      background-size: 30px 30px;
      background-position: 8px 5px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }

  #phone{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    opacity: 80%;
}

  #phone:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/phone.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
  
  #email{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
      opacity: 80%;
  }
  
  #email:focus{
      background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  #comment{
      background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
      background-size: 30px 30px;
      background-position: 11px 8px;
      background-repeat: no-repeat;
  }
  
  textarea {
      width: 100%;
      height: 150px;
      line-height: 150%;
      resize:vertical;
      opacity: 80%;
  }
  
  input:hover, textarea:hover,
  input:focus, textarea:focus {
      background-color:white;
  }
  
  #button-blue{
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      float:left;
      width: 100%;
      border: #fbfbfb solid 4px;
      cursor:pointer;
      background-color: rgb(109, 218, 255);
      color:white;
      font-size:24px;
      padding-top:22px;
      padding-bottom:22px;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      margin-top:-4px;
      font-weight:700;
      opacity: 80%;
  }
  
  #button-blue:hover{
      background-color: rgba(0,0,0,0);
      color: #0493bd;
  }
      
  .submit:hover {
      color: #3498db;
  }
      
  .ease {
      width: 0px;
      height: 74px;
      background-color: #fbfbfb;
      -webkit-transition: .3s ease;
      -moz-transition: .3s ease;
      -o-transition: .3s ease;
      -ms-transition: .3s ease;
      transition: .3s ease;
  }
  
  .submit:hover .ease{
    width:100%;
    background-color:white;
  }


  footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  
  }
  
  .social {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  
  .social a {
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid black 2px;
  
  }
  
  
  footer img {
    width: 30px;
    height: 30px;
  
  }  
  
  
  .copyrightt{
    text-align: center;
    margin-top: 20px;
  }
  

   @media only screen and (max-width: 580px) {
      #form-div{
          left: 3%;
          margin-right: 3%;
          width: 88%;
          margin-left: 0;
          padding-left: 3%;
          padding-right: 3%;
      } 

  
  } 






  @media (min-width: 600px) {
    .button-54 {
      padding: 0.25em 0.75em;
      
    }
    nav {
      padding-bottom: 40px;
      display: flex;
      gap: 40px;
      display: static;
    }
    .hamburger {
      display: none;
    }
    
}

@media (min-width: 1000px) {
    .button-54 {
      padding: 0.25em 0.75em;
      
    }
    nav {
      padding-bottom: 40px;
      display: flex;
      gap: 40px;
      display: static;
    }
    .hamburger {
      display: none;
    }
    
}