.hear-about {
    /* margin: 10px; */
}

h1 {
    text-align: center;
    padding: 40px;
}

.form--container {
    display: flex;
    width: 100%;
    justify-content: center;

}

form {
    /* min-width: 50vw;
    max-width: 70vw; */
    width: 600px;
}

form > div {
    display: flex;
    
    background-color: aquamarine;
}

.gender--eyecolor {
    
}

.form--div > input {
    margin-right:auto;
    min-width: 200px;
}

.form--div > label {
    min-width: 60px;
    text-align: right;
}




@media screen and (max-width 560px){
    body{
       background-color: lightblue;
       display: flex;
       flex-direction: column;
      
       width: 50%;
       height: auto;
    }
    .form--container{
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        
        width: 50%;
        height: auto;

    }
    .form--div{
        background-color: lightblue;
       display: flex;
       flex-direction: column;
       
       width: 50%;
       height: auto;
    }

    h1 {
        background-color: lightblue;
       display: flex;
       flex-direction: column;
      
       width: 50%;
       height: auto;
    }
    .gender--eyecolor {
        background-color: lightblue;
       display: flex;
       flex-direction: column;
       
       
       width: 50%;
       height: auto;
    }
    }
    


     /* .top-section, .middle-section, .bottom-section, }{ */
        /* width: 100%; */
        /* display: flex; */
        /* align-items: left; */ 
        
    
    
/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)  */
  /* and (-webkit-min-device-pixel-ratio: 3) {  */

/* } */ 