#field {
  height: 400px;
  border-bottom: 3px lime groove;
  position: relative;
  background-color: lightblue;
}

#ball {
  position: absolute;
  cursor: pointer;
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/old-english-five');

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

.logo-title {
    /* width: 340px; */
    /* height: 100px; */
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: lightblue;
    
}

h1 {
  font-size: 50pt;
  font-family: 'Old English Five', sans-serif;
  padding-top: 20px;
  text-align: center;
  /* margin-bottom: 15px; */
  background-color: lightblue;
  
}

header {
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: center;
  
}

.logo {
    width: 100px;
    padding: 0;
    margin: 0;
}

nav {
  display: none;
}

.nav-style {
  display: contents;
}

.hamburger {
  height: 50px;
  width: 50px;
  background-image: url("images/hamburger-menu-svgrepo-com.svg");
  background-size: contain;
  margin: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  
}

.hamburger:hover {
  
  background-color: lightgray;
}

.x-style {
  background-image: url("images/x-svgrepo-com.svg");
}


.button-54 {
  min-width: 122px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 1000;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

  .button-54:hover {
    color: white;
    background: black;
  }


.body{
  background-color: lightblue;
}
  


  main {
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  

  }


  .matrix-parent{
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;

    
  }

  #matrix{
   object-fit: cover;
   width: 100%;
   

  }

  .blurb{
    font-size: 1.5rem;
    width: 90%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
  }

.logo2-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

  .aca-fig{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

  }

   .logo2 {
    width: 150px;
    height: 150px; 

    
  }

  .small-text{
    color: blue;
    font-size: 1.2rem;
  }




  /* header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  } */

 /* main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin: 50px;
    
  }  */


  /* nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
  }  */

  /* .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px;
    justify-content: center;
  } */

  /* nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  
  #profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  } */

  /* h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  } */

  /* h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  } */

  /* .small-text {
    grid-column: 2/3;
    color: white;
    font-size: 10px;
    margin: 3% auto;
  } */

  /* button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px;
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
    cursor: pointer;
  } */

  footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
  
  }
  
  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }
  
  .social a {
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid black 2px;
  
  }
  
  
  footer img {
    width: 30px;
    height: 30px;
  
  }  
  
  
  .copyrightt{
    text-align: center;
    margin-top: 20px;
  }

  @media (min-width: 600px) {
    .button-54 {
      padding: 0.25em 0.75em;
      
    }
    nav {
      padding-bottom: 40px;
      display: flex;
      gap: 40px;
      display: static;
    }
    .hamburger {
      display: none;
    }
}

@media (min-width: 1000px) {
  .button-54 {
    padding: 0.25em 0.75em;
    
  }
  nav {
    padding-bottom: 40px;
    display: flex;
    gap: 40px;
    display: static;
  }
  .hamburger {
    display: none;
  }
}
 
